<%= render 'reports/form', report: Report.new %>

<h2>What report would you like to see?</h2>

<table>
  <% @user.reports.each do |report| %>
    <% @report = report %>
      <tr>
        <td><%= link_to report.name, report_url(@report) %></td>
        <td><%= button_to "Delete", report_url(@report), method: :delete %></td>
      </tr>
  <% end %>
</table>
